/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/



@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Pacifico&display=swap');

:root {
    --snow:#fffafa;
    --antarcticblue: #2b3f5c;
}

* {
    padding:0;
    border:none;
    margin:0;
}

/********************styles for body======================*/

#main-container-grid {
    background-image: url("../images/standy-up-ducks.webp");
    background-size:cover;
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:(1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (auto)[13];
    grid-template-rows: repeat(13, auto);
        grid-template-areas: 
    "header header header header header header header header header header header header "
    "nav nav nav nav nav nav nav nav nav nav nav nav "
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
     font-size:.9rem;
}

#bluffers-container-grid {
     background-image: url("../images/standy-up-ducks.webp");
     background-size:cover;
     display:-ms-grid;
     display:grid;
     -ms-grid-columns: (1fr)[12];
     grid-template-columns: repeat(12, 1fr);
     -ms-grid-rows: (auto)[12];
     grid-template-rows: repeat(12, auto);
         grid-template-areas: 
    "header header header header header header header header header header header header "
    "nav nav nav nav nav nav nav nav nav nav nav nav "
    "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    "foot foot foot foot foot foot foot foot foot foot foot foot"
    ". . . . . . . . . . . . ";
    font-size:0.9rem;
       
}

#gallery-body {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (auto)[12];
    grid-template-rows: repeat(12, auto);
        grid-template-areas: 
   "header header header header header header header header header header header header "
   "nav nav nav nav nav nav nav nav nav nav nav nav "
   "gall gall gall gall gall gall gall gall gall gall gall gall"
   "gall gall gall gall gall gall gall gall gall gall gall gall"
   "gall gall gall gall gall gall gall gall gall gall gall gall"
   "gall gall gall gall gall gall gall gall gall gall gall gall"
   "gall gall gall gall gall gall gall gall gall gall gall gall"
   "gall gall gall gall gall gall gall gall gall gall gall gall"
   "gall gall gall gall gall gall gall gall gall gall gall gall"
   "gall gall gall gall gall gall gall gall gall gall gall gall"
   "foot foot foot foot foot foot foot foot foot foot foot foot"
   ". . . . . . . . . . . . ";
    font-size:0.9rem;
}

#links-container-grid {
    background-image: url("../images/standy-up-ducks.webp");
    background-size:cover;
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (auto)[12];
    grid-template-rows: repeat(12, 86px);
        grid-template-areas: 
    "header header header header header header header header header header header header "
    "nav nav nav nav nav nav nav nav nav nav nav nav "
    "links links links links links links links links links links links links"
    "links links links links links links links links links links links links"
    "links links links links links links links links links links links links"
    "links links links links links links links links links links links links"
    "links links links links links links links links links links links links"
    "links links links links links links links links links links links links"
    "links links links links links links links links links links links links"
    "links links links links links links links links links links links links"
    "links links links links links links links links links links links links"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
    font-size:0.9rem;
           
}

/*=========================header styles==================================*/
header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows:auto;
    grid-template-rows:auto;
        grid-template-areas:"logo circle ham";
    background-color:var(--snow);
    grid-area: header;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    z-index:1;
}
#bluffers-container-grid > header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
}
#gallery-body > header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
}
#links-container-grid > header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
}

#header-logo {
    -ms-grid-row:1;
    -ms-grid-column:1;
    background-color:var(--snow);
    max-height:150px;
    width:100%;
    display:inline-block;
    grid-area:logo;
}

#header-logo h1 {
    float:left;
    padding-left:25px;
    color:var(--antarcticblue);
    font-family:'PT Serif', serif;
    
}

#header-logo p {
    font-family:'Pacifico', cursive;
    clear:both;
    padding-left:25px;
    color:var(--antarcticblue);
    float:left;
   white-space: pre;
}

.active {
    border: 1px solid var(--antarcticblue) !important;
    border-radius:15%;   
    -webkit-box-shadow: 5px 2px;   
            box-shadow: 5px 2px;
}

#center-about {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    width: 100%;
    height:100%;
    margin:0 auto;
    background-color:var(--snow);
    grid-area: circle;
    
}

.circle-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20%;
    padding-top:10px;  
}

.circle-cover-bg {
    background:url(../images/Crean-pipe.jpg) no-repeat center center;
    height:100%;
    border-radius:50%
}

/* hamburger button based on tutorial by tyler potts*/
.hamburger {
	-ms-grid-row:1;
	-ms-grid-column:3;
	position: absolute;
    top:0;
    right:0;
	display: block;
	width: 35px;
	cursor: pointer;
	grid-area:ham;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color:var(--antarcticblue);
	margin: 6px 0px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.hamburger.is-active:before {
	-webkit-transform: rotate(-45deg) translate(-8px, 6px);
	    -ms-transform: rotate(-45deg) translate(-8px, 6px);
	        transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	-webkit-transform: rotate(45deg) translate(-9px, -8px);
	    -ms-transform: rotate(45deg) translate(-9px, -8px);
	        transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}


/*================================nav-bar styles========================*/

#nav-bar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    position:fixed;
    top:110px;
    width:100vw;
    left:0;
    grid-area: nav;
    display: none;
    background-color:var(--snow);
    z-index:1;
}

#bluffers-container-grid > #nav-bar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
}

#gallery-body > #nav-bar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
}

#links-container-grid > #nav-bar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
}

#nav-bar a {
    color:var(--antarcticblue);
    background-color:var(--snow);
    margin:15% 5%;
    font-size:.7rem;
    font-family:'Pacifico', cursive ;
    text-decoration: none;
    border:1px solid var(--snow);
    padding: 0 5px;
}

#nav-bar a i {
    color:var(--antarcticblue);
}

#nav-bar a:hover {
    border: 1px solid var(--antarcticblue);
    border-radius:10%;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color:var(--antarcticblue);
	padding-top: 120px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
    -ms-flex-line-pack: justify;
        align-content: space-between;
}

.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 16px 16px 50px;
	text-align: center;
	padding: 12px 16px;
	background-color: #1f103F;
	color:var(--snow);
	text-decoration: none;
    border-left:1px solid var(--antarcticblue);
    border-radius: 15%;
}

.mobile-nav a:hover {
	background-color: #24104f;
}
   
#header-nav a {
    color:#48FFDF;
    background-color:#004E7C;
}

#nav-div a {
    color:var(--antarcticblue);
    background-color:var(--snow);
    font-size:.65em;
    line-height: 2em;
    font-family:'Pacifico', cursive;
    margin:0 5%;
    text-decoration: none;
    padding-bottom:1px;   
}


/**************************sytles for homepage************************/

#grid-wrapper {
    -ms-grid-row: 3;
    -ms-grid-row-span: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    position:relative;
    top:150px;
    left:0;   
    width:100%;
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: (minmax(220px, auto))[9];
    grid-template-rows: repeat(9, minmax(220px, auto));
        grid-template-areas: 
    "text1  text1 text1 text1 text1 text1 text1 text1"
    "image1  image1 image1 image1 image1 image1 image1 image1"
    "text2  text2 text2 text2 text2 text2 text2 text2"
    "image2  image2 image2 image2 image2 image2 image2 image2 "
    "text3  text3 text3 text3 text3 text3 text3 text3"
    "text4  text4 text4 text4 text4 text4 text4 text4"
    "text5  text5 text5 text5 text5 text5 text5 text5"
    "image3 image3 image3 image3 image3 image3 image3 image3"
    ". . . . . . . . ";
    grid-area: main-texts;
}

.homeart {
    border-radius: 10px;
}

.home-text, .home-img {
    color:var(--snow);
    background-color:var(--antarcticblue);
    margin:12px;
    font-size:1.4rem;
    padding:3px;
    border:4px solid var(--snow);
    border-radius: 20px;   
}

.home-text h2 , .home-img h2 {
    text-align: center;
    background-color:var(--antarcticblue);
    color:white;    
    padding-bottom:10px;
}

.home-text article, .home-img article {
    background-color:var(--antarcticblue);
    color:white;
    padding:12px;   
}

.txt1 {
   -ms-grid-row: 1;
   -ms-grid-column: 1;
   -ms-grid-column-span: 8;
   grid-area: text1;  
}

.txt2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: text2;
}

.txt3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: text3;
}

.txt4 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: text4;
}

.txt5 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: text5;
}

.img1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    background-image: url(../images/endurance-ice.webp  );
    background-size:cover;
    background-position: bottom;
    opacity:.9;
    border:4px solid var(--antarcticblue);
    grid-area: image1; 
}

.img2 {
     -ms-grid-row: 4;
     -ms-grid-column: 1;
     -ms-grid-column-span: 8;
     /*background-image: url(../images/170px-Tom_Crean_puppies-256h.jpg  );*/
     background-image: url(../images/TomCrean-Scott1911.webp);
    background-size: cover;
    background-repeat: no-repeat;
    opacity:.9;
    border:4px solid var(--antarcticblue);
    grid-area: image2;
}

.img3 {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    background-image: url(../images/Antarctica-Map.webp);
    background-size:cover;
    background-position: center;
    opacity:.9;
    border:4px solid var(--antarcticblue);
    grid-area: image3;
}

.img4 {
    background-image: url(../images/TomCrean-puppies.webp);
    background-size:cover;
    background-position: center;
    opacity:.9;
    border:4px solid var(--antarcticblue);
    grid-area: image4;
    display:none;
}

/**************************************end of styles for home page************/

/*====================================bluffers style==============*/
#bluffers-section {
    -ms-grid-row: 3;
    -ms-grid-row-span: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    width:90%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position:relative;
    top:100px;
    left:5%;
    grid-area: tenf;
    text-align:center;
    height:auto;
    
}

#bluffers-div {
    height:auto;
    margin-bottom: 100px;
    border:3px solid var(--snow);
    border-radius:25px;
    background-color: var(--antarcticblue);
}

#ten-facts-article {
    overflow: hidden;
    padding:5px; 
    height: auto;
}

#ten-facts-article h1 {
    color:var(--snow);
    text-align:center;
    line-height: 25px;
    font-size:1.9em;
    padding:15px;
    text-decoration: underline;
    background-color: var(--antarcticblue);
    overflow:hidden;
}

#ten-facts-article ul {
    list-style-type: square;
    color:inherit;
    text-align:justify;
    font-size:1.4rem;
    line-height:1.1em;
    opacity:1;
    margin:7px auto;
    list-style-position: inside;
    padding:5px;
    background-color: var(--antarcticblue);
    margin-top: 0;
}

#ten-facts-article li {
    color:var(--snow);
    font-size:1.1em;
    text-align:left;
    line-height:1.5em;
}

/*=========================gallery styles===============================================================*/
/*===================slideshow based on w3schools tutorial=============================================*/

#gallery-body {
    -ms-grid-row:3;
    -ms-grid-row-span:8;
    -ms-grid-column:1;
    -ms-grid-column-span:12;
    background-image: url("../images/antarctica.jpg");
    grid-area:gall;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}

.slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
    top:25vh;
}

.mySlides {
    display: none;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: fixed;
    top: 19%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(76, 13, 223);
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
  /* Number text (1/3 etc) */
.numbertext {
    color: rgb(76, 13, 223);
    font-size: 20px;
    position: fixed;
    top: 18%;
    left:45%;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/******************************links styles*************************************/
#links-container {
    -ms-grid-row: 3;
    -ms-grid-row-span: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    width:100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-preferred-size:auto;
        flex-basis:auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: absolute;
    top:120px;
    left:0;
    grid-area: links;
    align-items: center;
}

#vid-box {
    width:100vw;
}

.vid-box1 {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#vid-box2 {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.vid-box1 h1, #vid-box2 h1, #wiki-link h1 {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 2%;
    color:white;
    background-color:var(--antarcticblue);
    opacity:1;
    width:100vw;   
}

#wiki-link h1 {
    width:100%;
}

.vid-box1 iframe {
    width:100vw;
}

#wiki-link {
    border:2px solid var(--snow);
    border-radius: 10px;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-top:15px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    padding:5px;
    background-color: var(--antarcticblue);
}

#wiki-link nav {
    background-color: var(--antarcticblue);
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#wiki-link nav a {
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:space-evenly;
        -ms-flex-pack:space-evenly;
            justify-content:space-evenly;
    text-decoration: none;
    padding:4px;
}

#wiki-link h2 {
    text-align: center;
    background-color: var(--antarcticblue);
    color:var(--snow);
}

#wiki-link i {
    font-size: 3rem;
    color:var(--snow);
    background-color: var(--antarcticblue);
}

#cform {
    background-color: var(--antarcticblue);
    font-size: 1.3rem;
    margin-top:15px;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    border:2px solid var(--snow);
    border-radius: 10px;
}

#cform h1 {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom:15px;
    color:var(--snow);
    opacity:1;
}

#cform form input {
    float:right;
    margin-right: 2%;
    text-align: center;
}

#cform form label {
    color:var(--snow);
    position:relative;
    top:-5px;
    left:4%;
}

#submit {
    float:none;
    color:var(--snow);
    padding:8px;
    margin:10px auto;
    background-color: var(--antarcticblue);
    border :3px solid var(--snow);
    border-radius: 20px;
    margin-left:40%;
    position:relative;
    left:-40%;
}

#submit:hover {
    color:var(--antarcticblue);
    background-color: var(--snow);
}

/**************************end of links page styles**********************/

/***********************************footer styles************************************************************/

footer {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: foot;
    position:fixed;
    bottom:0;
    left:0;
    width:100vw;
    max-height:45px;
    background-color: var(--snow);   
}

#bluffers-container-grid > footer {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;   
}

#gallery-body > footer {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;   
}

#links-container-grid > footer {
    -ms-grid-row: 12;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;   
}

.social-networks {
    text-align:center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.social-networks li {
    display:inline;
    padding-bottom:25%;
}

.social-networks i {
    font-size:300%;
    padding:5%;
    color:var(--antarcticblue);
}

footer p {
    color:black;
    display:none;
}



/*=========================signup page styles===========================*/

.signup {
    color:var(--snow);
    width: 60%;
    text-align: center;
    font-size: .8em;
    position: absolute;
    top: 35%;
    left:20%;
    border-radius: 20px;
    border: 3px solid var(--snow);
    background-color: var(--antarcticblue);
}

/*=========================================================================================================*/
/*==========================meeja queries==================================================================*/
/*===============================screens below 320px==============================================================*/

@media screen and (max-width:320px){
    #nav-bar  {
        display:none;
    }

    #grid-wrapper {
        top:150px;
    }

    #bluffers-section {
        top:150px;
    }
}

/*=========================screens above 375px===========================================*/

@media screen and (min-width:375px) {
    .mobile-nav a {
        margin-left:80px;
    }

    #center-about {
        position:relative;
        left:75%;
    }

    #bluffers-section {
        top:150px;
    }

    #links-container {
        top:120px;
    }

    #links-container-grid {
        grid-template-rows: repeat(12, 79px);
    }
}

/*==========================screens above 425px=========================================*/

@media screen and (min-width:425px) {
    .mobile-nav a {
        margin-left: 110px;
    }

    #cform {
        border:3px solid var(--snow);
        border-radius: 20px;
        padding:5px;
    }
    
    #submit {
        left:-41%;
    }

    #wiki-link {
        padding:5px;
        border:3px solid var(--snow);
        border-radius: 20px;
        background-color: var(--antarcticblue);
    }

    .numbertext {
        left:45.7%;
    }
}
/*=========================screens above 576px=======================================*/

@media screen and (min-width:576px) {
    #bluffers-section {
        height:auto;
    }

    #grid-wrapper {
        -ms-grid-row: 3;
        -ms-grid-row-span: 10;
        -ms-grid-column: 1;
        -ms-grid-column-span: 12;
        position:relative;
        top:150px;
        left:0;    
        width:100%;
        height:100%;
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
        -ms-grid-rows: (minmax(220px, auto))[10];
        grid-template-rows: repeat(10, minmax(220px, auto));
            grid-template-areas: 
        "text1  text1 text1 text1 text1 text1 text1 text1"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "text2  text2 text2 text2 text2 text2 text2 text2"
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "text3  text3 text3 text3 text3 text3 text3 text3"
        "text4  text4 text4 text4 text4 text4 text4 text4"
        "text5  text5 text5 text5 text5 text5 text5 text5"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        ;
        grid-area: main-texts;
    }

    .vid1 iframe {
        height:300px;
    }
    
    .prev {
        left:0;
    }

    .numbertext {
        left:40%;
    }

    .txt1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .txt2 {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .txt3 {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .txt4 {
        -ms-grid-row: 8;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .txt5 {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img1 {
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img2 {
        -ms-grid-row: 5;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img3 {
        -ms-grid-row: 10;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }
}
/*=========================screens anove 768px===========================================*/

@media screen and (min-width:768px){
    .hamburger {
        display:none;
    }

    #nav-bar {
        display:inline;
        padding-left:10%;
        top:100px;
        min-height:40px;
    }

    #bluffers-section {
        height:auto;
        top:130px;
    }

    #links-container {
        top:154px;
    }

    #center-about {
        position: relative;
        left: 100%;
    }

    .circle-container {
        padding-top:01px;
    }
    
    #nav-bar a {
        font-size:1.2rem;
    }

    .mobile-nav a {
        margin-left:250px;
    }

    #links-container-grid {
        grid-template-rows: repeat(12, 105px);
    }

    #grid-wrapper {
        -ms-grid-row: 3;
        -ms-grid-row-span: 10;
        -ms-grid-column: 1;
        -ms-grid-column-span: 12;
        position:relative;
        top:150px;
        left:0;    
        width:100%;
        height:100%;
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
        -ms-grid-rows: (minmax(220px, auto))[13];
        grid-template-rows: repeat(13, minmax(220px, auto));
            grid-template-areas: 
        "text1  text1 text1 text1 text1 text1 text1 text1"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "text2  text2 text2 text2 text2 text2 text2 text2"
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "text3  text3 text3 text3 text3 text3 text3 text3"
        "text4  text4 text4 text4 text4 text4 text4 text4"
        "text5  text5 text5 text5 text5 text5 text5 text5"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        ;
        grid-area: main-texts;
    }

    #bluffers-container-grid {
       background-image: url("../images/standy-up-ducks.webp");
        background-size:cover;
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
        -ms-grid-rows: (minmax(50px, auto))[6];
        grid-template-rows: repeat(6, minmax(50px, auto));
            grid-template-areas: 
        "header header header header header header header header header header header header "
        "nav nav nav nav nav nav nav nav nav nav nav nav "
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
       "foot foot foot foot foot foot foot foot foot foot foot foot";
         font-size:0.8rem;
        }
    
    #submit {
        left:-44%;
    }

    .slideshow-container {
        max-width: 700px;
    }

    .slideshow-container img {
        max-height:500px;
    }

    #wiki-link i {
        margin: 0 40% 0 40%;
    }

    .prev, .next {
        top:20%;
    }

    .numbertext {
        top:19%;
        font-size:23px;
        left:47.4%
    }

    #bluffers-container-grid > header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 12;
        }

    #bluffers-container-grid > #nav-bar {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 12;
        }

    .txt1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .txt2 {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .txt3 {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .txt4 {
        -ms-grid-row: 8;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .txt5 {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img1 {
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img2 {
        -ms-grid-row: 5;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img3 {
        -ms-grid-row: 10;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    #bluffers-section {
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 12;
        }

    #bluffers-container-grid > footer {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
        -ms-grid-column-span: 12;
        }
}

/*===============screens above 992px============*/

@media screen and (min-width:992px) {
    #nav-bar a {
        font-size: 1.3rem;
        margin:15% 4%;
        font-family:'Pacifico', cursive ;
        color:var(--antarcticblue);
    }

    #center-about {
        padding-left:40%;
    }

    .vid-box1 {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .vid1 iframe {
        height:300px;
        width:500px !important;
    }

    .vid-box1 h1 {
        width:500px;
    }

    #wiki-link {
        width:50%;
        float:none;
        padding:15px;
        background-color: var(--antarcticblue);
        border:2px solid var(--snow);
        border-radius:25px;
    }

    #wiki-link nav {
        background-color:var(--antarcticblue);
    }

     #wiki-link h2 {
        width:100%;
    }

    #wiki-link a {
        width:100%;
    }

    #cform {
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
        padding:15px;
        max-width:60%;
    }

    #cform form input {
        margin-right: 5%;
    }

    #cform h1 {
        padding-bottom: 21px;
    }

    #submit {
        left:-39%;
    }
    #bluffers-section {
        height:auto;
    }
    .numbertext {
        left:48%;
    }

    #links-container-grid {
        grid-template-rows: repeat(12, 109px);
    }

}

/***************************===============***screen size above 1100px**********************************/
@media screen and (min-width:1100px) {
    .vid-box1 h1 {
        width:500px;
    }

    .img4 {
        display:block;
    }

    #grid-wrapper {
        -ms-grid-row: 3;
        -ms-grid-row-span: 10;
        -ms-grid-column: 1;
        -ms-grid-column-span: 12;
        position:relative;
        top:150px;
        left:0;    
        width:100%;
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
        -ms-grid-rows: (minmax(220px, auto))[15];
        grid-template-rows: repeat(15, minmax(220px, auto));
            grid-template-areas: 
        "text1  text1 text1 text1 text1 text1 image4 image4"
        "text2  text2 text2 text2 text2 text2 text2 text2"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "text3  text3 text3 text3 text4 text4 text4 text4"
        "text3  text3 text3 text3 text4 text4 text4 text4"
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "text5  text5 text5 text5 text5 text5 text5 text5"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        ". . . . . . . . ";
        grid-area: main-texts;
    }

    #nav-bar a {
        font-size:1.6rem;
    }

    #bluffers-section {
        width:60%;
        left:20%;
        height:auto;
        background-color:transparent;
        top:100px;
    }

    #ten-facts-article {
        border: 3px solid var(--snow);
        border-radius: 25px;
    }
    #header-logo h1 {
        font-size:2em;
    }

    #header-logo p {
        font-size:1.7em;
    }

    .circle-container {
        margin-left:28%;
    }
    
    #center-about {
        padding-left: 35%;
    }

    .txt1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
    }

    .txt2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .txt3 {
        -ms-grid-row: 5;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
    }

    .txt4 {
        -ms-grid-row: 5;
        -ms-grid-row-span: 2;
        -ms-grid-column: 5;
        -ms-grid-column-span: 4;
    }

    .txt5 {
        -ms-grid-row: 10;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img1 {
        -ms-grid-row: 3;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img2 {
        -ms-grid-row: 7;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img3 {
        -ms-grid-row: 11;
        -ms-grid-row-span: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img4 {
        -ms-grid-row: 1;
        -ms-grid-column: 7;
        -ms-grid-column-span: 2;
    }
}

/*==================================screens above 1250px===================================*/
@media screen and (min-width:1250px) {
    .img4 {
    background-position: 15% 0;
    }

    #bluffers-section {
        width:60%;
        left:20%;
        height:auto;
        margin-top:70px;
        top:40px;
    }   

    #ten-facts-article {
        border:none;
    }

    #grid-wrapper {
        -ms-grid-row: 3;
        -ms-grid-row-span: 10;
        -ms-grid-column: 1;
        -ms-grid-column-span: 12;
        position:relative;
        top:150px;
        left:0;    
        width:100%;
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
        -ms-grid-rows: (minmax(220px, auto))[15];
        grid-template-rows: repeat(15, minmax(220px, auto));
            grid-template-areas: 
        "text1  text1 text1 text1 text1 text1 image4 image4"
        "text2  text2 text2 text2 text2 text2 text2 text2"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "text3  text3 text3 text3 text4 text4 text4 text4"
        "text3  text3 text3 text3 text4 text4 text4 text4"
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "text5  text5 text5 text5 text5 text5 text5 text5"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        ". . . . . . . . ";
        grid-area: main-texts;
    }

    .prev, .next {
        font-size:3em;
        top:18%
    }

    .numbertext {
        font-size:3em;
    }

    #wiki-link {
        -webkit-box-sizing:initial;
                box-sizing:initial;
        width:50%;
    }

    .txt1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
    }

    .txt2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .txt3 {
        -ms-grid-row: 6;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
    }

    .txt4 {
        -ms-grid-row: 6;
        -ms-grid-row-span: 2;
        -ms-grid-column: 5;
        -ms-grid-column-span: 4;
    }

    .txt5 {
        -ms-grid-row: 11;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img1 {
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img2 {
        -ms-grid-row: 8;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img3 {
        -ms-grid-row: 12;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img4 {
        -ms-grid-row: 1;
        -ms-grid-column: 7;
        -ms-grid-column-span: 2;
    }
}

/*****************======================*screens above 1400px================************/

@media screen and (min-width:1400px){
    #grid-wrapper {
        -ms-grid-row: 3;
        -ms-grid-row-span: 10;
        -ms-grid-column: 1;
        -ms-grid-column-span: 12;
        position:relative;
        top:150px;
        left:0;    
        width:100%;
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
        -ms-grid-rows: (minmax(220px, auto))[16];
        grid-template-rows: repeat(16, minmax(220px, auto));
            grid-template-areas: 
        "text1  text1 text1 text1 text1 text1 image4 image4"
        "text2  text2 text2 text2 text2 text2 image4 image4"
        "text3 text3 text3 image1 image1 image1 image1 image1"
        "text3 text3 text3 image1 image1 image1 image1 image1"
        "text3 text3 text3 image1 image1 image1 image1 image1"
        " text4 text4 text4 text4 text4 text5 text5 text5"
        "text4 text4 text4 text4 text4 text5 text5 text5"
        ". image2 image2 image2 image2 image2 image2 . "
        ". image2 image2 image2 image2 image2 image2 . "
        ". image2 image2 image2 image2 image2 image2 . "
        ". image2 image2 image2 image2 image2 image2 . "
        "image3 image3 image3 image3 image3 image3 image3 image3"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        ". . . . . . . . ";
        grid-area: main-texts;
    }

    .circle-cover-bg {
        z-index: 2;
    }

    #nav-bar {
        min-height:47px;
        padding-left:16%;
        top:100px;

    }

    #links-container {
        top:160px;
    }

    .home-text {
        font-size:1.6em;
    }

    .txt4 {
        padding-top: 50px;
        padding-bottom: 30px;
        font-size: 1.7em;
    }

     .txt2 {
        padding-bottom: 30px;
    }

    .slideshow-container {
        max-width: 650px;
        top:30vh;
    }

    .prev, .next {
        top:21%;
    }

    .numbertext {
        top:20%;
        left:47.35%;
    }

    #submit {
        left:-41%;
    }
    .txt1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
    }
    .txt2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
    }
    .txt3 {
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .txt4 {
        -ms-grid-row: 6;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
    }
    .txt5 {
        -ms-grid-row: 6;
        -ms-grid-row-span: 2;
        -ms-grid-column: 6;
        -ms-grid-column-span: 3;
    }
    .img1 {
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
        -ms-grid-column: 4;
        -ms-grid-column-span: 5;
    }
    .img2 {
        -ms-grid-row: 8;
        -ms-grid-row-span: 4;
        -ms-grid-column: 2;
        -ms-grid-column-span: 6;
    }
    .img3 {
        -ms-grid-row: 12;
        -ms-grid-row-span: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }
    .img4 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 7;
        -ms-grid-column-span: 2;
    }

}


/*****************======================*screens above 2000px================************/

@media screen and (min-width:2000px) {
    .numbertext {
        left:48%;
    }

    #submit {
        left:-42%;
    }
}


/*==============================landscape==========================*/
/*=====Adjust gallery images and nav buttons for landscape mode====*/

@media screen and (orientation:landscape) and (min-height:320px)  and (max-height:425px) {

    .slideshow-container img {
        max-height: 160px;
        max-width: 500px;
        -o-object-fit: scale-down;
           object-fit: scale-down;
    }

   .slideshow-container {
       max-width: 500px;
       max-height: 160px;
       top:35vh;
   }

   #links-container-grid {
       grid-template-rows: repeat(12, 104px) !important;
   }

   .prev, .next {
       top:55%;
   }

   .mobile-nav a {
    margin-left: 250px;
    position: relative;
    top:-50px;
    }   

   .numbertext {
       top:50%;
       left:20%;
    }

    #grid-wrapper {
        -ms-grid-row: 3;
        -ms-grid-row-span: 10;
        -ms-grid-column: 1;
        -ms-grid-column-span: 12;
        position:relative;
        top:150px;
        left:0;    
        width:100%;
        height:100%;
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
        -ms-grid-rows: (minmax(220px, auto))[12];
        grid-template-rows: repeat(12, minmax(220px, auto));
            grid-template-areas: 
        "text1  text1 text1 text1 text1 text1 text1 text1"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "text2  text2 text2 text2 text2 text2 text2 text2"
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "text3  text3 text3 text3 text3 text3 text3 text3"
        "text4  text4 text4 text4 text4 text4 text4 text4"
        "text5  text5 text5 text5 text5 text5 text5 text5"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        ". . . . . . . . "
        ;
        grid-area: main-texts;
    }

    #bluffers-section {
        height:210vh;
        margin-top:20px;
    }

    .txt1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .txt2 {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .txt3 {
        -ms-grid-row: 7;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .txt4 {
        -ms-grid-row: 8;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .txt5 {
        -ms-grid-row: 9;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img1 {
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img2 {
        -ms-grid-row: 5;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }

    .img3 {
        -ms-grid-row: 10;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
    }
} 