@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Pacifico&display=swap');

:root {
    --bground:#ebe9e6;
    --text: #2b3f5c;
  }

* {
    padding:0;
    border:none;
    margin:0;
}

main { 
    top:148px;
    margin-top:148px;
    margin-bottom:0;
}



body {
    background-image: url(../images/antarctica-ice-sheet-ocean-landscape-map.jpg); 
    background-size: cover;
    min-height: 100vh;
    margin:0;
    display:block;
}


/************************ header styles*******************************************/


header {
    position:fixed;
    left:0;
    top:0;
    width:100%;

}

#header-container {
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    height:155px;
    justify-content: space-between;
    background-color: var(--bground);
}

#header-title {
    order:1;
    margin-left: 2%;
    padding:6%;
    font-family: 'PT Serif', serif;
   

}

#header-title a {
    text-decoration: none;
}


#header-picture {
    order:2;
    height:145px;
    width:30%;
    width: 148px;
    margin:0 auto;
    top:0;
    background-color:var(--bground);
}

.circle-container {
    width: 145px;
    height: 145px;
    /*padding:5px;*/ 
    border: 1px solid aqua;
    border-radius: 50%;
    
}

.circle-cover-bg {
    background:url(../images/Tom_Crean_permapipe_cropped_square_reduced.jpg) no-repeat center center;
    height:100%;
    border-radius:50%
}


/*
header {
    width:100%;
    z-index:2;
    position:fixed;
    top:0;
    left:0;
    /*display:flex;
    flex-wrap:wrap;*//*
}

.active {
    border-left:1px solid var(--text);
}
#header-logo {
    background-color:var(--bground);
    font-family: 'PT Serif', serif;
    width:100%;
    left:0;
    
    
}

#header-logo h1, p {
    color:var(--text);
    padding-left:15px;
    background-color:var(--bground);
    
}

#header-logo h1 {
    font-size:2.5em;
    padding-top:10px;
}

#header-logo p {
    font-size:1.6em;
}

#header-logo a {
    text-decoration: none;
}

#center-about {
    width: 148px;
    height:147px;
    margin:0 auto;
    top:0;
    right: 100px;
    position: absolute;
    background-color:var(--bground);
    
}

.circle-container {
    width: 145px;
    height: 145px;
    /*padding:5px;*/ /*
    border: 1px solid #ebe9e6;
    border-radius: 50%;
    
}

.circle-cover-bg {
    background:url(../images/Tom_Crean_permapipe_cropped_square_reduced.jpg) no-repeat center center;
    height:100%;
    border-radius:50%
}

#header-nav {
    background-color:transparent;
    margin:10px auto 0;
    width:70%;  
    /*position:relative;
    clear:both;*/ /*
}

#header-nav a {
    color:var(--text);
    background-color:var(--bground);
    font-size:20px;
    line-height: 2em;
    font-family:'Pacifico', cursive;
    margin:15% 7%;
    text-decoration: none;
    padding-bottom:2px;   
}

#header-nav a:hover {
    border:2px solid var(--text);

}  */

/**************************end of header styles***********************/

/**************************sytles for homepage************************/

.main-container {
    position:absolute;
    top: 16%;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    width:66%;
    left:2%;
    margin-bottom: 20px;
    height:100vh;
}

.card{
    height:156px;
    width:85%;
    background-color:#2b3f5c;
    opacity:.9;
    color:#fffafa;
    margin:5px;
    

}

.card h2 {
    color:white;
    background:#2b3f5c;
    text-align:center;
}

.card article {
    font-size: 1.1em;
    padding:3px;
}



.image-container {
    position:absolute;
    top: 16%;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    width:38%;
    right:2%;
    margin-bottom: 20px;
}

.card-image {
    background-color:black;
    height:256px;
    width:80%;
    margin:11px;
    opacity:.8;
   
}

.card-image2 {
    background-color:black;
    height:256px;
    width:28%;
    margin:11px;
    opacity:.9;
    position:relative;
    left:26%;  
}

.image1 {
    background-image: url(../images/endurance4-ice.jpg  );
    background-size:cover;
    background-position: center;
}

.image2 {

    background-image: url(../images/170px-Tom_Crean_puppies-256h.jpg  );
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.image3 {
    background-image: url(../images/Antarctica-Map-Feature.jpg  );
    background-size:cover;
    background-position: center;
}


/**************************************end of styles for home page************/


/************************************* styles for bluffersguide *****************/

#bluffers-section {
    border:2px solid #fffafa;
    clear:both;
    width:60%;
    background-color:#2b3f5c;
    opacity:0.7;
    display:flex;
    flex-wrap: wrap;
    position:relative;
    top:220px;
    left:20%;
    height:65vh;
    text-align:center;
    }

    #bluffers-div {
        
        margin:3px;
        display:flex;
        flex-wrap: wrap;
        overflow:auto;
    
    }

#ten-facts-article h1 {
    color:#fffafa;
    text-align:center;
    line-height: 25px;
    font-size:2.5em;
    padding:15px;
    text-decoration: underline;
}

#ten-facts-article hr {
    color:#fffafa;
    height:3px;
}

#ten-facts-article ul {
    list-style-type: square;
    color:inherit;
    text-align:justify;
   /* border:2px solid #fffafa;*/
    margin:7px auto;
    list-style-position: inside;
}
#ten-facts-article li {
    color:#fffafa;
    font-size:2em;
    text-align:left;

}

/**************************end of bluffers page styles**************************/


/********************************** gallery styles********************************/

#gallery-section {
    /*clear:both;*/
    line-height:0;
    column-count:3;
    column-gap:0px;
    /*position:relative;
    top: 148px;*/
    display:flex;
    flex-wrap:wrap;
    width:60%;
    margin-left:20%;
    
}

#gallery-section img {
    width:100%;
    opacity:1;
    background-color: black;
    
}

/*main { 
    top:148px;
    margin-top:148px;
    margin-left:30%;
    margin-bottom:0;*/
    /*this was causing footer to disappear second main */
   
  
/******************end of gallery page styles**********************************/



/******************************links styles*************************************/
/*
 #link-container {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-content:center;
    overflow:auto;
    margin:0;
    width:50%;
}
.vid-box {
    padding-bottom:60%;
    overflow:hidden
}

.vid1 {
    position:absolute;
    left:35%;
    clear:right;
    top:19%;
    height:100%;
    width:100%;
}

.vid2 {
    position:absolute;
    left:35%;
    clear:both;
    top:56%;
    height:30%;
    width:30%;
}

.linksheading {
    text-align: center;
    font-family: 'PT Serif', serif;
    color:#fffafa;
    margin:2px;
    padding:2px;
    position:absolute;
    top:16%;
    left:20%;
    background-color: #2b3f5c;
    opacity:.6;
    width:50%;
    font-size:1em;
    
    
}

.linksheading2 {
    text-align: center;
    font-family: 'PT Serif', serif;
    color:#fffafa;
    margin:8px;
    padding:2px;
    position:absolute;
    top:50%;
    left: 25%;
    background-color: #2b3f5c;
    opacity:.9;
    width:50%;
    font-size:1em;
    
    
}

#link-container div {
    background-color: #2b3f5c;
    opacity:.7;
*/

#link-container {
    max-width:50%;
    max-height:50%;
    align-items: center;
    margin-left:10px;

}

.vid-box {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0; 
    overflow: hidden; 
}

.vid-box iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; }

    .linksheading {
        color:var(--bground);
        font-weight:bold;
        background-color: var(--text);
    }

    

/**************************end of links page styles**********************/

/****************************************footerstyle*********************/

footer {
    
    height:103px;
    background-color:var(--bground);
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    margin-top:15px;
}

.social-networks {
    text-align:center;
}

.social-networks li {
    display:inline;
   
}

.social-networks i {
    font-size:300%;
    position:relative;
    bottom:70px;
    padding:5%;
    color:var(--text);
}

/**********************end of footer styles*****************************/


/********* for screens below 1200px*************************************/
/*
@media screen and (max-width:1200px){


    #header-nav  {
        
        margin-left:0px;
        
    }


    #header-nav a {
        font-size:17px;
    }
}
*/
    /************for medium screen below 1000px****************************/
/*
    @media screen and (max-width:900px){

    #header-nav  {
        
        margin-left:0px;
        
    }


    #header-nav a {
        font-size:14px;
    }

    .circle-container {
        height:135px;
    }

    #center-about {
        height:135px;
    }
 }*/
    /*******************for small screens below 800px***************************/
/*
@media screen and (max-width:800){
    #header-nav a {
        font-size:12px;
    }

    .circle-container {
        height:130px;
    }

    #center-about {
        height:130px;
    }

}*/