
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Pacifico&display=swap');

:root {
    --snow:#ebe9e6;
    --antarcticblue: #2b3f5c;
}

* {
    padding:0;
    border:none;
    margin:0;
}

/********************styles for body======================*/

#main-container-grid {
    /*background-color:var(--snow);*/
    background-image: url("../images/200717-Antarctica.jpg");
    background-size:cover;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(13, auto);
    grid-template-areas: 
    "header header header header header header header header header header header header "
    "nav nav nav nav nav nav nav nav nav nav nav nav "
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts main-texts"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
     font-size:.9rem;
   
    }


    #bluffers-container-grid {
        /*background-color:var(--snow);*/
        background-image: url("../images/200717-Antarctica.jpg");
        background-size:cover;
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(11, auto);
        grid-template-areas: 
        "header header header header header header header header header header header header "
        "nav nav nav nav nav nav nav nav nav nav nav nav "
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        "foot foot foot foot foot foot foot foot foot foot foot foot"
        ". . . . . . . . . . . . ";
         font-size:0.8rem;
       
        }


        #links-container-grid {
            /*background-color:var(--snow);*/
            background-image: url("../images/200717-Antarctica.jpg");
            background-size:cover;
            display:grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(12, auto);
            grid-template-areas: 
            "header header header header header header header header header header header header "
            "nav nav nav nav nav nav nav nav nav nav nav nav "
            "links links links links links links links links links links links links"
            "links links links links links links links links links links links links"
            "links links links links links links links links links links links links"
            "links links links links links links links links links links links links"
            "links links links links links links links links links links links links"
            "links links links links links links links links links links links links"
            "links links links links links links links links links links links links"
            "links links links links links links links links links links links links"
            "links links links links links links links links links links links links"
            "foot foot foot foot foot foot foot foot foot foot foot foot";
             font-size:0.8rem;
           
            }
/*=========================header styles==================================*/
header {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    grid-template-areas: 
    "logo circle ham";
    background-color:var(--snow);
    grid-area: header;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    z-index:1;
}

#header-logo {
    background-color:var(--snow);
    max-height:150px;
    width:100%;
    display:inline-block;
    grid-area:logo;
}

#header-logo h1 {
    float:left;
    padding-left:25px;
    color:var(--antarcticblue);
    font-family:'PT Serif', serif;
    /*font-size:300%;*/
}

#header-logo p {
    font-family:'Pacifico', cursive;
    clear:both;
    padding-left:25px;
    color:var(--antarcticblue);
    /*font-size:30px;*/
    float:left;
   white-space: pre;
}

.active {
    border-left: 1px solid var(--antarcticblue);
    border-radius:15%;
    
}

#center-about {
    width: 100%;
    height:100%;
    margin:0 auto;
    /*bottom: 14%;
    right: 25%;
    top:0;
    position: absolute;*/
    background-color:var(--snow);
    grid-area: circle;
    
}

.circle-container {
    width: 100px;
    height: 100px;
    /*padding:5px;*/
    /*border: 1px solid #f0f1fa;*/
    border-radius: 50%;
    margin-left: 20%;
    padding-top:10px;
    
}

.circle-cover-bg {
    background:url(../images/Tom_Crean_permapipe_cropped_square_reduced.jpg) no-repeat center center;
    height:100%;
    border-radius:50%
}

/* hamburger button based on tutorial by tyler potts*/
.hamburger {
	position: absolute;
    top:0;
    right:0;
	display: block;
	width: 35px;
	cursor: pointer;
	grid-area:ham;
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color:var(--antarcticblue);
	margin: 6px 0px;
	transition: 0.4s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}


/*================================nav-bar styles========================*/

#nav-bar {
    position:fixed;
    top:110px;
    width:100vw;
    left:0;
    grid-area: nav;
    display: none;
    background-color:var(--snow);
    z-index:1;
}

#nav-bar a {
    color:var(--antarcticblue);
    background-color:var(--snow);
    margin:15% 5%;
    font-size:.7rem;
    
    text-decoration: none;
}

#nav-bar a i {
    color:var(--antarcticblue);
}

#nav-bar a:hover {
    border: 1px solid var(--antarcticblue);
    border-radius:15%;
}


.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color:var(--antarcticblue);
	padding-top: 120px;
	transition: 0.4s;
    align-content: space-between;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
	background-color: #1f103F;

	color:var(--snow);
	text-decoration: none;
}

.mobile-nav a:hover {
	background-color: #24104f;
}
    /*font-size:25px;*/
   /* line-height: 2em;
    font-family:'Pacifico', cursive;
    margin:15% 7%;
    text-decoration: none;

/*#header-nav {
    background-color:transparent;
    margin:0 auto 0;
    width:70%;  
    position:relative;
    clear:both;
}

#header-nav a {
    color:#48FFDF;
    background-color:#004E7C;
    /*font-size:25px;*/
   /* line-height: 2em;
    font-family:'Pacifico', cursive;
    margin:15% 7%;
    text-decoration: none;*/
   

/*
#nav-div {
    position:fixed;
    left:0;
    top:154px;
    background-color:var(--bground);
    width:100%;  
    z-index:1;
}   

#nav-div a {
    color:var(--text);
    background-color:var(--bground);
    font-size:.65em;
    line-height: 2em;
    font-family:'Pacifico', cursive;
    margin:0 5%;
    text-decoration: none;
    padding-bottom:1px;   
}*/









/**************************sytles for homepage************************/

#grid-wrapper {
    position:relative;
    top:150px;
    left:0;   
    width:100%;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, minmax(220px, auto));
    grid-template-areas: 
    "text1  text1 text1 text1 text1 text1 text1 text1"
    "image1  image1 image1 image1 image1 image1 image1 image1"
    "text2  text2 text2 text2 text2 text2 text2 text2"
    "image2  image2 image2 image2 image2 image2 image2 image2 "
    "text3  text3 text3 text3 text3 text3 text3 text3"
    "text4  text4 text4 text4 text4 text4 text4 text4"
    "text5  text5 text5 text5 text5 text5 text5 text5"
    "image3 image3 image3 image3 image3 image3 image3 image3"
    ". . . . . . . . ";
    grid-area: main-texts;
}

.home-text, .home-img {
    color:var(--snow);
    background-color:var(--antarcticblue);
    margin:12px;
    font-size:1.4rem;
    padding:3px;
    border:4px solid var(--snow);
    border-radius: 20px;
    
    
}

.home-text h2 , .home-img h2 {
    text-align: center;
    /*background-color:var(--text);*/
    background-color:var(--text);
    color:white;
    
}

.home-text article, .home-img article {
    /*color:var(--bground);*/
    background-color:var(--text);
    color:white;
    padding:12px;
   
}

.txt1 {
  /* grid-column: 1 / 5;*/
   grid-area: text1;
   
}

.img1 {
    /*grid-column: 5 / 7;*/
    grid-area: image1;
    
   
}

.img2 {
    /*grid-column: 1 /2;*/
    grid-area: image2;
}

.txt2 {
    /*grid-column: 2 / 7;*/
    grid-area: text2;
}

.txt3 {
    /*grid-column: 1 / 7;*/
    grid-area: text3;
}

.txt4 {
   /*grid-column: 1 / 7;*/
    grid-area: text4;
}

.txt5 {
   /* grid-column: 1 / 5;*/
    grid-area: text5;
}

.img3 {
    /*grid-column: 5 / 7;*/
    grid-area: image3;
}

.img4 {
    grid-area: image4;
    display:none;
}

.img1 {
    background-image: url(../images/endurance4-ice.jpg  );
    background-size:cover;
    background-position: bottom;
    opacity:.9;
    border:4px solid var(--antarcticblue);
}

.img2 {
     /*background-image: url(../images/170px-Tom_Crean_puppies-256h.jpg  );*/
     background-image: url(../images/Tom_Crean_Scott1911.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity:.9;
    border:4px solid var(--antarcticblue);
}

.img3 {
    background-image: url(../images/Antarctica-Map-Feature.jpg  );
    background-size:cover;
    background-position: center;
    opacity:.9;
    border:4px solid var(--antarcticblue);
}

.img4 {
    background-image: url(../images/170px-Tom_Crean_puppies.jpg);
    background-size:cover;
    background-position: center;
    opacity:.9;
    border:4px solid var(--antarcticblue);
}

/**************************************end of styles for home page************/
/*

#home-early-life {
    height:1200px;
    width:100%;
    white-space: pre;
    border:2px solid black;

}

.test-styles {
    text-align:center;
    padding:30px;
    color:black;
    font-family:'PT Serif', serif;
    opacity: 1;

}*/
/*====================================bluffers style==============*/
#bluffers-section {
    
    /*clear:both;
    display: inline-block;*/
    width:90%;
    /*opacity:0.9;*/
    display:flex;
    flex-direction: column;
    position:relative;
    top:150px;
    left:5%;
    grid-area: tenf;
    text-align:center;
    /*background-color:var(--antarcticblue);
    height:180vh;*/
    /*overflow:hidden;*/
    min-height:150vh;
    
    }

    #bluffers-div {
      
       /* border:2px solid var(--snow);*/
        /*margin:3px;*/
      /*  padding:5px;
    */
    }
    #ten-facts-article {
        overflow: hidden;
        border:4px solid var(--snow);
        border-radius:25px;
        margin-bottom:20px;
    }

#ten-facts-article h1 {
    color:var(--snow);
    text-align:center;
    line-height: 25px;
    font-size:1.9em;
    padding:15px;
    text-decoration: underline;
    background-color: var(--antarcticblue);
    /*border :1px solid var(--antarcticblue);
    border-radius: 25px;*/
    overflow:hidden;
}

/*#ten-facts-article hr {
    color:#48FFDF;
    height:3px;
}
*/
#ten-facts-article ul {
    list-style-type: square;
    color:inherit;
    text-align:justify;
    font-size:1.4rem;
    line-height:1.1em;
    opacity:1;
    margin:7px auto;
    list-style-position: inside;
    padding:5px;
    background-color: var(--antarcticblue);
    margin-top: 0;
}
#ten-facts-article li {
    color:var(--snow);
    font-size:1.1em;
    text-align:left;
    line-height:1.5em;

}

/***********************************************************************************************/

footer {
    grid-area: foot;
    position:fixed;
    bottom:0;
    left:0;
    width:100vw;
    max-height:45px;
    background-color: var(--snow);
   
    
}
.social-networks {
    text-align:center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.social-networks li {
    display:inline;
    padding-bottom:25%;
   
}

.social-networks i {
    font-size:300%;
    padding:5%;
    color:var(--antarcticblue);
}


/******************************links styles*************************************/
#links-container {
    width:100%;
    align-items: center;
    /*margin-left:10px;*/
    display:flex;
    flex-basis:auto;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top:149px;
    left:0;
    grid-area: links;
   /* height:200vh;*/
    align-items: center;
   /* height:140vh;*/
}

/*#headings-links-container {   
    display: inline-block;
}*/

#vid-box {
    width:100vw;
}

#vid-box1 {
    display:flex;
    flex-direction: column;
}

#vid-box2 {
    display:flex;
    flex-direction: column;
}

#vid-box1 h1, #vid-box2 h1, #wiki-link h1 {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1%;
    color:white;
    background-color:var(--antarcticblue);
    opacity:1;
    width:100vw;
}

#vid-box1 iframe {
    width:100vw;
}

#wiki-link {
    margin-top:15px;
    display:flex;
    align-content: center;
    flex-direction:column;

}

#wiki-link h3 {
    text-align: center;
    background-color: var(--antarcticblue);
    width:100vw;
    color:var(--snow);
}



#wiki-link i {
    font-size: 3rem;
    color:var(--snow);
    padding: 0 45% 0 35%;
    background-color: var(--antarcticblue);
    width:100vw;
}

#cform {
    background-color: var(--antarcticblue);
    font-size: 1.3rem;
    margin-top:15px;
    width:100vw;
}

#cform h1 {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1%;
    color:white;
    background-color:var(--antarcticblue);
    opacity:1;
}

#cform form input {
    float:right;
    margin-left: 5%;
}

#cform form label {
    color:var(--snow);
    position:relative;
    top:-5px;
    left:4%;
}

#submit {
    float:none;
    color:var(--snow);
    padding:0;
    margin:0 auto;
    background-color: var(--antarcticblue);
    border :1px solid var(--snow);
    margin-left:40%;
    position:relative;
    left:-40%;
}
/**************************end of links page styles**********************/

/*============================================================================================*/
/*============================================================================================*/
/*=============================================================================================*/
@media screen and (max-width:320px){
    #nav-bar  {
        display:none;
    }

    #grid-wrapper {
        top:150px;
    }

    #bluffers-section {
        top:150px;
        height: 150vh;
    }

    #links-container {
        top:150px;
    }
  
}

@media screen and (min-width:375px) {
    .mobile-nav a {
        margin-left:80px;
    }
}

@media screen and (min-width:576px) {
    #bluffers-section {
        height:75vh;
    }

    #grid-wrapper {
        position:relative;
        top:150px;
        left:0;    
        width:100%;
        height:100%;
        display:grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(10, minmax(220px, auto));
        grid-template-areas: 
        "text1  text1 text1 text1 text1 text1 text1 text1"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "text2  text2 text2 text2 text2 text2 text2 text2"
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "text3  text3 text3 text3 text3 text3 text3 text3"
        "text4  text4 text4 text4 text4 text4 text4 text4"
        "text5  text5 text5 text5 text5 text5 text5 text5"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        ;
        grid-area: main-texts;
    }

    .vid1 iframe {
        height:300px;
    }
}


@media screen and (min-width:768px){
    #bluffers-section {
        height:55vh;
    }

    .mobile-nav a {
        margin-left:250px;
    }

    #grid-wrapper {
        position:relative;
        top:150px;
        left:0;    
        width:100%;
        height:100%;
        display:grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(13, minmax(220px, auto));
        grid-template-areas: 
        "text1  text1 text1 text1 text1 text1 text1 text1"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "text2  text2 text2 text2 text2 text2 text2 text2"
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "text3  text3 text3 text3 text3 text3 text3 text3"
        "text4  text4 text4 text4 text4 text4 text4 text4"
        "text5  text5 text5 text5 text5 text5 text5 text5"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        ;
        grid-area: main-texts;
    }

    #bluffers-container-grid {
        /*background-color:var(--snow);*/
       background-image: url("../images/200717-Antarctica.jpg");
        background-size:cover;
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, minmax(50px auto));
        grid-template-areas: 
        "header header header header header header header header header header header header "
        "nav nav nav nav nav nav nav nav nav nav nav nav "
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        
        /*"tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        
        /*"tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
        "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"*/
       "foot foot foot foot foot foot foot foot foot foot foot foot";
         font-size:0.8rem;
       
        }

    #submit {
        left:-350px;
    }

   
}

@media screen and (min-width:992px) {
    .hamburger {
        display:none;
    }

    #nav-bar {
        display:inline;
        padding-left:10%;
    }

    #nav-bar a {
        font-size: 1.3em;
        margin:15% 5%;
        font-family:'Pacifico', cursive ;
        color:var(--antarcticblue);
    }

    #center-about {
        padding-left:40%;
    }

    #vid-box1 {
        align-items: center;
    }

    .vid1 iframe {
        height:300px;
        width:500px !important;
    }
    
    #links-container {
        height:190vh;
    }

    #vid-box1 h1 {
        width:500px;
    }

    #wiki-link {
        width:50%;
        float:none;
        padding:15px;
        background-color: var(--antarcticblue);
        border:2px solid var(--snow);
        border-radius:25px;
    }

    #wiki-link nav {
        background-color:var(--antarcticblue);
        padding-left:15%;
    }

    #wiki-link h1, #wiki-link h3 {
        width:50vw;
    }

    #wiki-link a {
        width:100%;
    }

    #wiki-link i {
        background-color:transparent;
    }

    #cform {
        padding:15px;
    }

    #cform form input {
        margin-right: 5%;
    }

    #submit {
        left:-44%;
    }
    #bluffers-section {
        height:50vh;
    }
}

/****************************************************************************************************************************/
@media screen and (min-width:1100px) {
    #vid-box1 h1 {
        width:500px;
    }

    .img4 {
        display:block;
    }

    #grid-wrapper {
        position:relative;
        top:150px;
        left:0;    
        width:100%;
        display:grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(15, minmax(220px, auto));
        grid-template-areas: 
        "text1  text1 text1 text1 text1 text1 image4 image4"
        "text2  text2 text2 text2 text2 text2 text2 text2"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "image1  image1 image1 image1 image1 image1 image1 image1"
        "text3  text3 text3 text3 text4 text4 text4 text4"
        "text3  text3 text3 text3 text4 text4 text4 text4"
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "image2  image2 image2 image2 image2 image2 image2 image2 "
        "text5  text5 text5 text5 text5 text5 text5 text5"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        "image3 image3 image3 image3 image3 image3 image3 image3"
        ". . . . . . . . ";
        grid-area: main-texts;
    }

    #cform {
        width:70vw;
        border:3px solid var(--snow);
        border-radius: 25px;
    }

    #nav-bar a {
        font-size:1.6em;
    }

    #bluffers-section {
        width:60%;
        left:20%;
        height:65vh;
    }

    #header-logo h1 {
        font-size:2em;
    }

    #header-logo p {
        font-size:1.7em;
    }

    .circle-container {
        margin-left:28%;
    }
    
}


/*=========================1250px===================================*/
@media screen and (min-width:1250px) {
    

.img4 {
    background-position: 15% 0;
}

#bluffers-section {
    width:60%;
    left:20%;
    height:50vh;
    margin-top:70px;
    border: 3px solid var(--snow);
    border-radius: 25px;
    background-color: var(--antarcticblue);
}
#ten-facts-article {
    border:none;
}

#grid-wrapper {
    position:relative;
    top:150px;
    left:0;    
    width:100%;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(15, minmax(220px, auto));
    grid-template-areas: 
    "text1  text1 text1 text1 text1 text1 image4 image4"
    "text2  text2 text2 text2 text2 text2 text2 text2"
    "image1  image1 image1 image1 image1 image1 image1 image1"
    "image1  image1 image1 image1 image1 image1 image1 image1"
    "image1  image1 image1 image1 image1 image1 image1 image1"
    "text3  text3 text3 text3 text4 text4 text4 text4"
    "text3  text3 text3 text3 text4 text4 text4 text4"
    "image2  image2 image2 image2 image2 image2 image2 image2 "
    "image2  image2 image2 image2 image2 image2 image2 image2 "
    "image2  image2 image2 image2 image2 image2 image2 image2 "
    "text5  text5 text5 text5 text5 text5 text5 text5"
    "image3 image3 image3 image3 image3 image3 image3 image3"
    "image3 image3 image3 image3 image3 image3 image3 image3"
    "image3 image3 image3 image3 image3 image3 image3 image3"
    ". . . . . . . . ";
    grid-area: main-texts;
}
}
/***********************************************************************************************/
@media screen and (min-width:1400px){
    


#grid-wrapper {
    position:relative;
    top:150px;
    left:0;    
    width:100%;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(16, minmax(220px, auto));
    grid-template-areas: 
    "text1  text1 text1 text1 text1 text1 image4 image4"
    "text2  text2 text2 text2 text2 text2 image4 image4"
    "text3 text3 text3 image1 image1 image1 image1 image1"
    "text3 text3 text3 image1 image1 image1 image1 image1"
    "text3 text3 text3 image1 image1 image1 image1 image1"
    " text4 text4 text4 text4 text4 text5 text5 text5"
    "text4 text4 text4 text4 text4 text5 text5 text5"
    ". image2 image2 image2 image2 image2 image2 . "
    ". image2 image2 image2 image2 image2 image2 . "
    ". image2 image2 image2 image2 image2 image2 . "
    ". image2 image2 image2 image2 image2 image2 . "
    "image3 image3 image3 image3 image3 image3 image3 image3"
    "image3 image3 image3 image3 image3 image3 image3 image3"
    "image3 image3 image3 image3 image3 image3 image3 image3"
    "image3 image3 image3 image3 image3 image3 image3 image3"
    ". . . . . . . . ";
    grid-area: main-texts;
}

.circle-container {
    z-index: 2;
    width:150px;
    height:150px;
}

.circle-cover-bg {
    z-index: 2;
}

#nav-bar {
    background: transparent;
}

#links-container {
    top:190px;
}


}





/*==============================landscape==========*/

@media screen and (orientation: landscape){
    .circle-container {
        display:none;
    }

    #header-logo h1 {
        font-size:1em;
    }

    .hamburger {
       position:absolute;
        right:0;
        top:0;
        z-index:10;
    }


    .mobile-nav a {
        position:relative;
        top:-70px;
    }  

    #grid-wrapper {
        top:55px;
    }

    #links-container {
        top:55px;
    }

    #bluffers-section {
        position: absolute;
        top:50px;
    }

    #ten-facts-article {
        height:380vh;
    }
}

/*#bluffers-container-grid {
    /*background-color:var(--snow);*/
    /*background-image: url("../images/200717-Antarctica.jpg");
    background-size:cover;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "header header header header header header header header header header header header "
    "nav nav nav nav nav nav nav nav nav nav nav nav "
    "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    /*"tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    /*"tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    /*"tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"
    "tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf tenf"*//*
    "foot foot foot foot foot foot foot foot foot foot foot foot";
     font-size:0.8rem;
   
    }*/



/*
@media screen and (orientation: landscape) {
    .hamburger {
        position:absolute;
        top:0;
        right:20px;
    }

    #header-logo {
        position:absolute;
        top:0px;
    }

    .circle-container {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-left: 50%;
        padding-top:0px;
        
    }
    
    .circle-cover-bg {
        background:url(../images/Tom_Crean_permapipe_cropped_square_reduced.jpg) no-repeat center center;
        height:100%;
        border-radius:50%
    }

    #grid-wrapper {
        top:75px !important;
    }
}

@media screen and (min-width:375px) {
    #nav-bar {
        display:none;
    }

    #grid-wrapper {
        top:150px;
    }

    #bluffers-section {
        top:150px;
    }

    #links-container {
        top:150px;
    }

    #vid-box1 iframe {
        width:375px;
    }

    #wiki-link nav a i {
        width:100vw;
    }

    #cform {
        width:100vw;
    }

    #submit {
        left:-170px;
        
    }

    .mobile-nav a {
        margin: 0 1px 16px 69px;
    }
}
*/













/*for screens below 1220px wide*/
/*
@media  screen and (max-width:1220px) {

    #nav-bar {
        margin:3% 0%;
        width:50%;
        grid-area: nav;
    }

    #header-nav a {
        color:#48FFDF;
        background-color: #004E7C;
        font-size:20px;
        line-height: 2em;
        font-family:'Pacifico', cursive;
        margin:10% 5%;
        text-decoration: none;
       
    }
    
}


/* for screens below 930px*/
/*
@media screen and (max-widtg:930px) {

    #header-nav {
        margin:0;
        width:40%;
    }

    #header-nav a {
        color:#f0f1fa;
        background-color: #004E7C;
        font-size:7px;
        line-height: 2em;
        font-family:'Pacifico', cursive;
        margin:3% 3%;
        text-decoration: none;
       
    }

    .clear.both {
        float:left;
        clear:left;
    }

    #header-logo {
        height:230px;
    }

}*/