@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Pacifico&display=swap');

* {
    padding:0;
    border:none;
    margin:0;
}

main {
    display:block;
    
    top:148px;
    margin-top:148px;
    margin-bottom:0;
}

body {
    background-image: url(../images/antarctica-ice-sheet-ocean-landscape-map.jpg); 
    background-size: cover;
    min-height: 100vh;
    
    margin:0;
}

header {
    width:100%;
    z-index:2;
    position:fixed;
    top:0;
    left:0;
}

.active {
    border-left:1px solid #fffafa;
}
#header-logo {
    background-color: #2b3f5c;
    font-family: 'PT Serif', serif;
    width:100%;
    left:0;
    
    
}

#header-logo h1, p {
    color:#fffafa;
    padding-left:15px;
    background-color:#2b3f5c;
    
}

#header-logo h1 {
    font-size:2.5em;
    padding-top:10px;
}

#header-logo p {
    font-size:1.6em;
}

#header-logo a {
    text-decoration: none;
}

#center-about {
    width: 150px;
    height:150px;
    margin:0 auto;
    top:0;
    right: 100px;
    position: absolute;
    background-color:#2b3f5c;
    
}

.circle-container {
    width: 145px;
    height: 145px;
    /*padding:5px;*/
    border: 1px solid #f0f1fa;
    border-radius: 50%;
    
}

.circle-cover-bg {
    background:url(../images/Tom_Crean_permapipe_cropped_square_reduced.jpg) no-repeat center center;
    height:100%;
    border-radius:50%
}

#header-nav {
    background-color:transparent;
    margin:10px auto 0;
    width:70%;  
    position:relative;
    clear:both;
}

#header-nav a {
    color:#fffafa;
    background-color:#2b3f5c;
    font-size:20px;
    line-height: 2em;
    font-family:'Pacifico', cursive;
    margin:15% 7%;
    text-decoration: none;
    padding-bottom:2px;   
}

#header-nav a:hover {
    border:2px solid #fffafa;

}

/* styles for bluffersguide */

#bluffers-section {
    border:2px solid #fffafa;
    clear:both;
    display: inline-block;
    width:60%;
    background-color:#2b3f5c;
    opacity:0.7;
    display:inline-block;
    position:relative;
    top:220px;
    left:20%;

    text-align:center;
    }

    #bluffers-div {
        border:2px solid #fffafa;
        margin:3px;
    
    }

#ten-facts-article h1 {
    color:#fffafa;
    text-align:center;
    line-height: 25px;
    font-size:2.5em;
    padding:15px;
    text-decoration: underline;
}

#ten-facts-article hr {
    color:#fffafa;
    height:3px;
}

#ten-facts-article ul {
    list-style-type: square;
    color:inherit;
    text-align:justify;
   /* border:2px solid #fffafa;*/
    margin:7px auto;
    list-style-position: inside;
}
#ten-facts-article li {
    color:#fffafa;
    font-size:2em;
    text-align:center;

}


/* gallery styles*/

#gallery-section {
    /*clear:both;*/
    line-height:0;
    column-count:3;
    column-gap:0px;
    /*position:relative;
    top: 148px;*/
}

#gallery-section img {
    width:100%;
    
}
  


/*footerstyle*/

footer {
    
    height:103px;
    background-color:#2b3f5c;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}

.social-networks {
    text-align:center;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size:300%;
    position:relative;
    bottom:70px;
    padding:5%;
    color:#fffafa;
}